<title>Recky | Homepage </title>

<div class="header">
  <nav class="nav justify-content-center justify-content-sm-start">
    <a class="nav-link" aria-current="page" href="#" style="color: black;">About</a>
    <div class="ms-2">
      <a class="nav-link" aria-current="page" href="mailto:oquinter@chicagobooth.edu" style="color: black;">Contact</a>
    </div>
    <div class="ms-2">
      <!-- Link trigger modal -->
      <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: black;">
        Terms & conditions
      </a>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Terms and conditions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
              <p><strong>1. Acceptance of Terms</strong></p>
              <p>By using this website, you agree to comply with and be bound by the terms and conditions outlined herein. If you do not agree with these terms, please refrain from using the website.</p>

              <p><strong>2. Use of Discogs API</strong></p>
              <ul>
                <li>This website utilizes the Discogs API to provide information and services related to music.</li>
                <li>Users must adhere to Discogs' terms of service and data usage policies when interacting with the Discogs API through this website.</li>
              </ul>

              <p><strong>3. Intellectual Property</strong></p>
              <p>All content and intellectual property on this website, including but not limited to text, images, and logos, are the property of their respective owners.</p>

              <p><strong>4. Limitation of Liability</strong></p>
              <ul>
                <li>This website is provided "as is," and the owners do not guarantee its accuracy, availability, or fitness for a particular purpose.</li>
                <li>The owners are not liable for any damages or losses resulting from the use or inability to use the website.</li>
              </ul>

              <p><strong>5. External Links</strong></p>
              <p>This website may contain links to third-party websites. The owners are not responsible for the content or practices of these external sites.</p>

              <p><strong>6. Modifications</strong></p>
              <p>The owners reserve the right to modify, suspend, or discontinue the website or any part of it at any time without notice.</p>

              <p><strong>7. Privacy</strong></p>
              <p>No user data is collected by this website.</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 py-4 d-flex justify-content-center align-items-center">
      <div class="col-md-5 col-12">
        <img src="https://i.imgur.com/d7ENmw1.png" class="img-fluid mx-auto d-block" alt="Recky logo">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <ul class="nav nav-pills nav-justified col-md-6 col-12 py-1">
      <li class="nav-item role="presentation">
        <button class="nav-link" id="pills-artist-tab" data-bs-toggle="pill" data-bs-target="#pills-artist" type="button" role="tab" aria-controls="pills-artist" aria-selected="false">Artist</button>
      </li>
      <li class="nav-item role="presentation">
        <button class="nav-link" id="pills-album-tab" data-bs-toggle="pill" data-bs-target="#pills-album" type="button" role="tab" aria-controls="pills-album" aria-selected="false">Release</button>
      </li>
      <li class="nav-item role="presentation">
        <button class="nav-link active" id="pills-catno-tab" data-bs-toggle="pill" data-bs-target="#pills-catno" type="button" role="tab" aria-controls="pills-catno" aria-selected="true">Catalogue ID</button>
      </li>
      <li class="nav-item role="presentation">
        <button class="nav-link" id="pills-barcode-tab" data-bs-toggle="pill" data-bs-target="#pills-barcode" type="button" role="tab" aria-controls="pills-barcode" aria-selected="false">Barcode</button>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center py-2">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane" id="pills-artist" role="tabpanel" aria-labelledby="pills-artist-tab">
          <form action="/search/artist" class="d-flex">
            <input class="form-control flex-grow-1" id="search_artist" type="text" name="searchartist" placeholder="E.g., <%= @placeholder_artist %>" required>
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>

        <div class="tab-pane" id="pills-album" role="tabpanel" aria-labelledby="pills-album-tab">
          <form action="/search/name" class="d-flex">
            <input class="form-control flex-grow-1" id="search_name" type="text" name="searchtext" placeholder="E.g., <%= @placeholder_record %>" required>
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>

        <div class="tab-pane show active" id="pills-catno" role="tabpanel" aria-labelledby="pills-catno-tab">
          <form action="/search/catno" class="d-flex">
            <input class="form-control flex-grow-1" id="search_catno" type="text" name="catno" placeholder="E.g., <%= @placeholder_catno %>" required>
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>

        <div class="tab-pane" id="pills-barcode" role="tabpanel" aria-labelledby="pills-barcode-tab">
          <form action="/search/barcode" class="d-flex">
            <input class="form-control flex-grow-1" id="search_barcode" type="text" name="searchbarcode" placeholder="E.g., <%= @placeholder_barcode %>" required>
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
