<title>Recky | Multiple artists were found</title>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://i.imgur.com/d7ENmw1.png" alt="Recky logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">New search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:oq@recky.io">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>We found multiple artists for your search</h1>
<% if $query_total_results > 100 %>
<p>Your query produced <%= number_with_delimiter($query_total_results) %> results. We can only show 100 of them given our server's capacity.</p>
<p>If you can't find the record you are looking for, try searching by catalogue number or barcode.</p>
<% end %>
<table>
<tr>
<th>Picture</th>
<th>Artist name</th>
<th>Links</th>
</tr>

<% @artist_array.each do |an_artist| %>
<tr>
  <td><img src="<%= an_artist.fetch("cover_image")%>" alt="Artist photo" height=100></td>
  <td><%= an_artist.fetch("title")%></td>
  <td>
  <a href="/search/artistid/<%= an_artist.fetch("id")%>"><Button>Search releases by this artist</Button></a>
  </td>
</tr>
<% end %>

</table>
