<div class="container-fluid">
  <h1 class="text-left">Woops!</h1>
</div>

<div class="container-fluid">
  <p>Seems like there was an error. I would really appreciate if you let me know what happened by reaching me at oq@recky.io</p>
  <p>Thanks!</p>
</div>
