<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CV2H09BL76"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CV2H09BL76');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <link rel="icon" href="https://i.imgur.com/dccTEc1.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="https://i.imgur.com/dccTEc1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body style="display: flex; flex-direction: column; min-height: 100vh;">

    <div class="main" style="flex-grow: 1;">
      <%= yield %>
    </div>

  </body>

</html>
